@model RegistroViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><Registro</title>
    <style>.container {
    margin-top: 20px;
}

h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #343a40; 
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
}

#botonRegistro {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
}

</style>
</head>

</html>

<body>
    <form asp-action="RegistroUsuario" method="post">


        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <h3>Datos de Usuario</h3>
                    <div class="form-group">
                        <label asp-for="NombreUsuario"></label>
                        <input asp-for="NombreUsuario" class="form-control" />
                        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailUsuario"></label>
                        <input asp-for="EmailUsuario" class="form-control" />
                        <span asp-validation-for="EmailUsuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contraseña"></label>
                        <input asp-for="Contraseña" type="password" class="form-control" />
                        <span asp-validation-for="Contraseña" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-6">
                    <h3>Datos Personales</h3>
                    <div class="form-group">
                        <label asp-for="NombreCliente"></label>
                        <input asp-for="NombreCliente" class="form-control" />
                        <span asp-validation-for="NombreCliente" class="text-danger"></span>
                    </div>
                   

                </div>
                <button type="submit" class="btn btn-primary" id="botonRegistro">Registrar</button>
            </div>
        </div>

    </form>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
