@model ObligatorioProgramacion3.Models.OrdenDetalle

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/StyleCrudeCreate.css" asp-append-version="true" />
</head>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<head>
    <link rel="stylesheet" href="~/css/StyleCrudeCreate.css" asp-append-version="true" />
</head>
<div class="row">
    <h1 class="text-center"> Crear rol</h1>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrdenId" class="control-label"></label>
                <select asp-for="OrdenId" class ="form-control" asp-items="ViewBag.OrdenId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlatoId" class="control-label"></label>
                <select asp-for="PlatoId" class ="form-control" asp-items="ViewBag.PlatoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="button-group">
                <input type="submit" value="Create" class="button-link" />
                <a class="button-link" asp-action="Index">Volver a index</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
