@model ObligatorioProgramacion3.Models.Reseña

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="~/css/StyleCrudeCreate.css" asp-append-version="true" />
</head>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<<div class="row">
    <h1 class="text-center"> Crear rol</h1>
    <div class="col-md-12">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="RestauranteId" class="control-label"></label>
                <select asp-for="RestauranteId" class="form-control" asp-items="ViewBag.RestauranteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Puntaje" class="control-label"></label>
                <input asp-for="Puntaje" class="form-control" />
                <span asp-validation-for="Puntaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaReseña" class="control-label"></label>
                <input asp-for="FechaReseña" class="form-control" />
                <span asp-validation-for="FechaReseña" class="text-danger"></span>
            </div>
            <div class="button-group">
                <input type="submit" value="Create" class="button-link" />
                <a class="button-link" asp-action="Index">Volver a index</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
