@model ObligatorioProgramacion3.Models.Ordene

@{
    ViewData["Title"] = "Delete";
}
<head>
    <link rel="stylesheet" href="~/css/StyleCrudeCreate.css" asp-append-version="true" />
</head>

<div>
    
    <dl class="row">
       

        <h3>Estas seguro que deseas borrar esto?</h3>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reserva.Id)
        </dd>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            <a class="button-link" asp-action="Index">Volver</a>
        </form>
    </dl>
    
    
</div>
