html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        height: 100%;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #ffff;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 60px;
}


.sidebar {
    position: center;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    width: 400px;
    color:black
}
.line {
    width: 100%;
    height: 2px;
    background-color: black; /* Color original */
    transition: background-color 0.3s;
}
.offcanvas-title {
    color: white;
    font-size: 28px;
    font-weight: bold;
}
.btn-close {
    background-color: white;
    border: none;
    color: white; /* Color del icono del botón */
    font-size: 1rem; /* Tamaño del icono */
    cursor: pointer;
}
    .offcanvas {
    width: 400px;
    background-color: rgb(93,64,55);
}

.nav-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 8px 15px;
    letter-spacing: 0.03em;
}

    .nav-link:hover {
        /* Color del texto al pasar el mouse */
        background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
        border-radius: 4px; /* Bordes redondeados */
        cursor:pointer;
    }
    .nav-link:hover {
        color: #5D4037;
    }

    .nav-link:focus,
    .nav-link:active {
        color: white; /* O el color que desees */
    }
.main {
    margin-left: 250px;
    padding-top: 60px;
    flex: 1;
}





.fotologo {
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    width: 125px;
    height: auto;
    border-radius: 90%;
    margin-top: 50px;
    position: absolute;
}

.auth-buttons {
    margin-left: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 100px;
}

.container-fluid {
    flex: 1;
}

.Fondo {
    background-color: #FFF8E7;
   

}

.btnauth {
    background-color: #5D4037;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1); /* Agrega una sombra completamente negra */
    padding: 15px 30px;
    border-radius: 5px;
    color: white
 
}
    .btnauth:hover {
        background-color: #a6896f;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
        cursor: pointer;
    }

.navbar-toggler-icon {
    color: #5D4037;
}
.btnPrincipal {
    font-size: 22px;
    font-weight: bold;
}

    .btnPrincipal:hover {
        color: rgb(93, 64, 55);
    }
   
.footer {
    background-color: rgb(93, 64, 55);
    color: white;
    padding: 20px 0;
    margin-top: 40px;
}


