.BotonCreate,
.botonesEditDetailsDelete,
.boton-edit,
.boton-details,
.boton-delete {
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 20px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

    .BotonCreate:hover,
    .botonesEditDetailsDelete:hover,
    .boton-edit:hover,
    .boton-details:hover,
    .boton-delete:hover {
        filter: brightness(90%);
    }

.BotonCreate {
    background-color: #5d4037;
    color: white;
}

    .BotonCreate:hover {
        background-color: #a6896f;
        color: black;
    }

.botonesEditDetailsDelete,
.boton-edit,
.boton-details {
    background-color: #5d4037;
    color: white;
}

    .botonesEditDetailsDelete:hover,
    .boton-edit:hover,
    .boton-details:hover {
        background-color: #a6896f;
        color: black;
    }

.boton-delete {
    background-color: transparent;
    color: #FF6F61;
    border: 2px solid #FF6F61;
}

    .boton-delete:hover {
        background-color: #FF6F61;
        color: #FFFFFF;
        border-color: #FF6F61;
    }

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

    .table th, .table td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #DDD;
    }

    .table th {
        background-color: #5d4037;
        color: #FFF8E7;
        padding: 10px;
        text-align: left;
        border-bottom: 2px solid #FFF8E7;
    }

    .table tr:nth-child(even) {
        background-color: #FFFFF0;
    }

    .table tr:hover {
        background-color: #FFDAB9;
    }

    .table td {
        background-color: #ded7c8;
    }

.table-container {
    overflow-x: auto;
    margin-top: 20px;
}
.header {
    background-image: url('../Imagenes/ImagenSolRecortada.png');
    background-position: top center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 50px;
}




.body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 150px;
}

    .container h1 {
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
    }

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-group input[type="date"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box;
    }

.btn-primary {
    background-color: #5d4037;
    color: white;
    border-radius: 15px; /* Ajusta este valor para cambiar el grado de redondez */
    padding: 10px 20px; /* Ajusta el espaciado interno */
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    text-decoration: none; /* Elimina el subrayado */


    cursor: pointer; /* Cambiar cursor al pasar el ratón */
    transition: background-color 0.3s ease; /* Añadir transición suave */
}

.btn-primary:hover {
    background-color: #a6896f;
    color: white 
}

   