@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <p>Bienvenido, @User.Identity.Name</p>
    }
    else
    {
        <p>Por favor inicia sesión para continuar.</p>
    }
</div>
