@model ObligatorioProgramacion3.Models.Plato

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="~/css/StyleCrudeCreate.css" asp-append-version="true" />
</head>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<div class="row">
    <h1 class="text-center"> Crear rol</h1>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombrePlato" class="control-label"></label>
                <input asp-for="NombrePlato" class="form-control" />
                <span asp-validation-for="NombrePlato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripción" class="control-label"></label>
                <input asp-for="Descripción" class="form-control" />
                <span asp-validation-for="Descripción" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRestaurante" class="control-label"></label>
                <select asp-for="IdRestaurante" class="form-control" asp-items="ViewBag.IdRestaurante"></select>
            </div>
            <div class="button-group">
                <input type="submit" value="Create" class="button-link" />
                <a class="button-link" asp-action="Index">Volver a index</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
