@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor

@{
    var isAuthenticated = HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated;
    var userClaims = HttpContextAccessor.HttpContext.User.Claims;
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ObligatorioProgramacion3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
       

        
        
        .sidebar {
            position: center;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            padding: 48px 0 0;
            width: 400px;
        }

            .sidebar .nav-link {
                font-size: 1.1rem;
                color: #333;
            }

                .sidebar .nav-link.active {
                    color: #007bff;
                }

                .sidebar .nav-link:hover {
                    color: #0056b3;
                }

        .offcanvas {
            width: 400px;
        }

        .nav-link {
            font-size: 1.1rem;
            color: #333;
        }

            .nav-link.active {
                color: #007bff;
            }

            .nav-link:hover {
                color: #0056b3;
            }

        .main {
            margin-left: 250px;
            padding-top: 60px;
            flex: 1;
        }

        .footer {
            padding: 1rem 0;
            background-color: #f8f9fa;
            border-top: 1px solid #e4e5e7;
            width: 100%;
        }

        .navbar-brand-center {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .auth-buttons {
            margin-left: auto;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .container-fluid {
            flex: 1;
        }
    </style>
</head>
<body>
    <div class="d-flex">
        <nav class="navbar navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand navbar-brand-center" asp-area="" asp-controller="Home" asp-action="Index">TriCampeones</a>
                <div class="auth-buttons">
                    <a class="btn btn-outline-primary me-2" asp-area="" asp-controller="Usuarios" asp-action="Login">Iniciar Sesión</a>
                    <a class="btn btn-primary" asp-area="" asp-controller="Usuarios" asp-action="RegistroUsuario">Registrarse</a>
                </div>
            </div>
        </nav>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="sidebarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Platoes" asp-action="MenuSoloVer">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Reseña" asp-action="Reseñas">Reseñas</a>
                    </li>


                    @if (isAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="collapse" href="#ReservasSubMenu" role="button" aria-expanded="false" aria-controls="ReservasSubMenu">
                                Reservas
                            </a>
                            <div class="collapse" id="ReservasSubMenu">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Restaurantes" asp-action="SeleccionarRestaurante">Crear nueva reserva</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Reservas" asp-action="MostrarReservas">Ver mis reservas</a>
                                    </li>
                                </ul>
                            </div>

                        </li>

                    }
                   



                    @if ((userClaims.Any(c => c.Type == "Permission" && c.Value == "ClientesVer")) || (userClaims.Any(c => c.Type == "Permission" && c.Value == "MesasVer")) || (userClaims.Any(c => c.Type == "Permission" && c.Value == "MesasVer")) || (userClaims.Any(c => c.Type == "Permission" && c.Value == "OrdenDetallesVer")) || (userClaims.Any(c => c.Type == "Permission" && c.Value == "OrdenesVer")) || (userClaims.Any(c => c.Type == "Permission" && c.Value == "PagosVer")) || (userClaims.Any(c => c.Type == "Permission" && c.Value == "PlatosVer") || (userClaims.Any(c => c.Type == "Permission" && c.Value == "ResteurantesVer"))) || (userClaims.Any(c => c.Type == "Permission" && c.Value == "ReseñasVer")) || (userClaims.Any(c => c.Type == "Permission" && c.Value == "ReservasVer")) || (userClaims.Any(c => c.Type == "Permission" && c.Value == "UsuariosVer")))
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="collapse" href="#adminSubmenu" role="button" aria-expanded="false" aria-controls="adminSubmenu">
                                Administración
                            </a>
                            <div class="collapse" id="adminSubmenu">
                                <ul class="nav flex-column">

                                    @if (userClaims.Any(c => c.Type == "Permission" && c.Value == "ClientesVer"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                                        </li>
                                    }
                                    @if (userClaims.Any(c => c.Type == "Permission" && c.Value == "RolesVer"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a>
                                        </li>
                                    }
                                    @if (userClaims.Any(c => c.Type == "Permission" && c.Value == "PermisosVer"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Permisos" asp-action="Index">Permisos</a>
                                        </li>
                                    }
                                    @if (userClaims.Any(c => c.Type == "Permission" && c.Value == "PermisosRolesYPermisos"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Permisos" asp-action="RolesYPermisos">Gestion Roles y Permisos</a>
                                        </li>
                                    }
                                    @if (userClaims.Any(c => c.Type == "Permission" && c.Value == "MesasVer"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Mesas" asp-action="Index">Mesas</a>
                                        </li>
                                    }

                                    @if (userClaims.Any(c => c.Type == "Permission" && c.Value == "OrdenDetallesVer"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="OrdenDetalles" asp-action="Index">Orden Detalles</a>
                                        </li>
                                    }

                                    @if (userClaims.Any(c => c.Type == "Permission" && c.Value == "OrdenesVer"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Ordenes" asp-action="Index">Ordenes</a>
                                        </li>
                                    }

                                    @if (userClaims.Any(c => c.Type == "Permission" && c.Value == "PagosVer"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Pagoes" asp-action="Index">Pagos</a>
                                        </li>
                                    }

                                    @if (userClaims.Any(c => c.Type == "Permission" && c.Value == "PlatoesVer"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Platoes" asp-action="Index">Platos</a>
                                        </li>
                                    }

                                    @if (userClaims.Any(c => c.Type == "Permission" && c.Value == "ReseñasVer"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Reseña" asp-action="Index">Reseña</a>
                                        </li>
                                    }

                                    @if (userClaims.Any(c => c.Type == "Permission" && c.Value == "ReservasVer"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Reservas" asp-action="Index">Reservas</a>
                                        </li>
                                    }

                                    @if (userClaims.Any(c => c.Type == "Permission" && c.Value == "ResteurantesVer"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Restaurantes" asp-action="Index">Restaurantes</a>
                                        </li>
                                    }

                                    @if (userClaims.Any(c => c.Type == "Permission" && c.Value == "UsuariosVer"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                                        </li>
                                    }
                                </ul>
                            </div>

                        </li>
                    }
                </ul>
            </div>
        </div>

        <main class="container-fluid mt-5 pt-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted border-top mt-auto">
        <div class="container">
            &copy; 2024 - TriCampeones - <a asp-area="" asp-controller="Home" asp-action="Privacy">Terminos y condiciones</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
