@model ObligatorioProgramacion3.Models.Mesa

@{
    ViewData["Title"] = "Edit";
    var estadoOptions = new List<SelectListItem>
    {
        new SelectListItem { Value = "Disponible", Text = "Disponible" },
        new SelectListItem { Value = "Reservada", Text = "Reservada" },
        new SelectListItem { Value = "Ocupada", Text = "Ocupada" }
    };
}

<head>
    <link rel="stylesheet" href="~/css/StylesCrudeEdit.css" asp-append-version="true" />
</head>

<h1 class="text-center">Edit Mesa</h1>

<div class="row">
    <div class="col-md-4 container">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="NumeroMesa" class="control-label"></label>
                <input asp-for="NumeroMesa" class="form-control" />
                <span asp-validation-for="NumeroMesa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Capacidad" class="control-label"></label>
                <input asp-for="Capacidad" class="form-control" />
                <span asp-validation-for="Capacidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control" asp-items="estadoOptions"></select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdRestaurante" class="control-label"></label>
                <select asp-for="IdRestaurante" class="form-control" asp-items="ViewBag.IdRestaurante"></select>
                <span asp-validation-for="IdRestaurante" class="text-danger"></span>
            </div>

            <div class="form-group button-group">
                <a asp-action="Index" class="button-link">Cancelar</a>
                <input type="submit" value="Guardar" class="button-link" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
